.scoreboard {
  padding: 20px;
  margin: 0 15px 30px;
  border-radius: 3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  &.--w50 {
    width: calc(50% - 30px);
  }
}
