@import 'scss/varmix.scss';

.main {
  min-height: 100vh;
  display: flex;
}

.workspace {
  flex: 1 1 0;
}

.section {
  min-height: calc(100vh - #{$headerHeight});
}

.dashboard {
  padding: $layoutPaddingBig;
}

.scorespace {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
